<div class="main posts-index">
    <div class="container">
        <div class="posts-show-item">
            <h2>Judul: <%= @data.judul %></h2>
            <h2>Deskripsi: <%= @data.deskripsi %></h2>


        <div class="post-item">
            <%= @data.created_at %>
        <div class="post-item">
            <%= @data.updated_at %>

        </div>
        <a href="/postingan/index">Kembali</a>
        </div>
    </div>
</div>
